/projects/06/assembler/.rspec
/projects/07/VirtualMachine/node_modules
/projects/07/VirtualMachine/package-lock.json
/projects/07/VirtualMachine/DirectoryTest
tools/
/projects/09/Average
/projects/09/Fraction
/projects/09/BitmapEditor
/projects/09/HelloWorld
/projects/09/List
/projects/09/Square
/projects/09/Jack OS API.pdf
projects/09/Splot/Array.vm
projects/09/Splot/Keyboard.vm
projects/09/Splot/Sys.vm
projects/09/Splot/String.vm
projects/09/Splot/Screen.vm
projects/09/Splot/Output.vm
projects/09/Splot/Memory.vm
projects/09/Splot/Math.vm
